[Desktop Entry]
Name=Steam
Comment=Aplicativo para jogar e gerenciar jogos no Steam
Exec=__MEUHYPR_HOME__/.config/hypr/scripts/SteamLaunch.sh %U
Icon=steam
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;
Keywords=Games
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
